---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
---

<Layout title='Home'>
  <Showcase
    heading='Welcome to the website!'
    description='Make yourself at home'
  />
  <h1>Hello world</h1>
</Layout>
