---
// import { useStore } from '@nanostores/preact';
// import { isUserLoggedIn } from '../stores/userStore';

// let $isUserLoggedIn = useStore(isUserLoggedIn);
---

<nav>
  <div class='links'>
    <a href='/'>Home</a>
    <a href='/about'>About</a>
    <a href='/blog'>Blog</a>
    <a href='/store'>Store</a>
  </div>
  <div class='links'>
    <a href='/cart'>Cart</a>
    <a href='/logout'>Logout</a>
    <a href='/login'>Login</a>
    <a href='/register'>Register</a>
  </div>

  <!-- {$isUserLoggedIn} -->
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    background: #444444;
    padding: 20px;
    border: none;
  }

  .links {
    display: flex;
    gap: 20px;
  }

  nav a {
    color: white;
  }
</style>
