<nav>
  <div class='links'>
    <a href='/'>Home</a>
    <a href='/about'>About</a>
    <a href='/blog'>Blog</a>
  </div>
  <div class='links'>
    <a href='/login'>Login</a>
    <a href='/logout'>Logout</a>
    <a href='/register'>Register</a>
  </div>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    background: #3a371d;
    padding: 20px;
    border: none;
  }

  .links {
    display: flex;
    gap: 20px;
  }

  nav a {
    color: white;
  }
</style>
